* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
li,
a,
th,
td {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 45px;
  text-align: center;
}

@media (max-width: 1600px) {
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  h2 {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 28px;
  }
}

/****************** navbar starts *******************/

.navbar {
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgb(40, 52, 69);
  background: linear-gradient(
    241deg,
    rgba(40, 52, 69, 1) 0%,
    rgba(35, 31, 52, 1) 100%
  );
  box-shadow: 0px 3px 18px #00000029;
}

.navbar .homapp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #262c48;
}

.navbar .homapp h3 {
  font-size: 40px;
  color: white;
}

.navbar .homapp img {
  height: 46px;
}

.navlinks {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.dropdown {
  cursor: pointer;
}

.dropdown p {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  padding-bottom: 60px;
  position: absolute;
  top: 7vh;
  right: 30px;
  right: 100px;
  height: auto;
  background: rgb(40, 52, 69);
  border-radius: 16px;
  padding: 2rem 1.5rem;
  cursor: pointer;
}

.dropdown-content1 {
  display: flex;
  gap: 10px;
}

.dropdown .dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.navbar > .menu > ul > li > div > div > div > div > a {
  color: white;
}
.dropdown-content a {
  color: White;
  height: 50px;
  padding: 0.5rem;
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background: rgb(17, 28, 43);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar .menu ul li > div > div > div > div > a {
  font-size: 12px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 1700px) {
  .navbar {
    padding: 30px 60px;
  }

  .navbar .homapp {
    gap: 15px;
  }

  .navbar .homapp h3 {
    font-size: 20px;
  }

  .navbar .homapp img {
    height: 30px;
    /* width: 30px; */
  }

  .navbar .menu {
    gap: 40px;
  }

  .navbar .menu a {
    font-size: 18px;
  }

  .dropdown p {
    font-size: 18px;
  }
}

@media (max-width: 950px) {
  .navbar {
    padding: 20px 20px;
  }

  .burger {
    display: block;
  }
  .menu {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 6.5vh;
    height: 100vh;
    width: 100%;
    background: rgb(40, 52, 69);
    background: linear-gradient(
      241deg,
      rgba(40, 52, 69, 1) 0%,
      rgba(35, 31, 52, 1) 100%
    );
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    z-index: 9999;
  }

  .navlinks {
    flex-direction: column;
    justify-content: center;
    gap: 100px;
  }

  .hamburger {
    display: block;
  }

  .dropdown-content {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 70%;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 600px) {
  .dropdown-content {
    width: 90%;
    padding: 20px 10px;
  }
  .dropdown-content1 .dropdown-item {
    gap: 10px;
  }

  .dropdown-content1 .dropdown-item a {
    font-size: 10px;
  }
}
/****************** navbar ends *******************/

.header {
  margin: 100px 90px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 90px;
}

.header p {
  font-size: 20px;
  color: #000000;
}

.header p img {
  width: 12px;
}
.header .image {
  width: 100%;
  height: 666px;
  border-radius: 20px;
  overflow-y: hidden;
}

.header .image img {
  height: 100%;
  width: 100%;
}

@media (max-width: 1700px) {
  .header {
    margin: 50px 90px;
    gap: 30px;
  }

  .header p {
    font-size: 15px;
  }

  .header .image {
    width: 100%;
    height: 500px;
    border-radius: 10px;
  }
}

@media (max-width: 1200px) {
  .header {
    margin: 50px;
  }

  .header .image {
    height: 400px;
  }
}

@media (max-width: 800px) {
  .header .image {
    height: auto;
  }
}

@media (max-width: 600px) {
  .header {
    margin: 20px 40px;
    gap: 10px;
    margin-top: 50px;
  }
  .header .image {
  height: 200px;
 
}
}

@media (max-width: 400px) {
  .header {
    margin:  20px;
    gap: 10px;
        margin-top: 50px;

    
  }
  .header .image {
    height: auto;
  }
}

/**************** head end *****************/

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 100px 100px;
}

.about p {
  font-size: 30px;
  line-height: 45px;
  color: #3a3a3a;
  text-align: center;
}

@media (max-width: 1700px) {
  .about {
    gap: 30px;
    margin: 70px 100px;
  }

  .about p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 1200px) {
  .about {
    margin: 70px 70px;
  }
}

@media (max-width: 800px) {
  .about {
    margin: 70px 20px;
  }

  
  .about p {
    font-size: 16px;
    line-height: 25px;
  }
}

/**************** about end *****************/
/************ R.O Waterpurifier Services************/

.RO-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.RO-services .cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 80px;
  padding: 20px 0;
}

.RO-services .cards .card {
  width: 350px;
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 10px #00000029;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  padding: 30px 20px;
}

.RO-services p {
  font-size: 20px;
  font-weight: bolder;
  color: #212a38;
}

.RO-services .cards .card img {
  width: 100%;
  height: 265px;
}

/* .RO-services .cards .card ul{
  font-size: 16px;
  color: #000000;
} */

.RO-services .cards .card ul li {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 10px;
}

.RO-services .cards .card .price {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1700px) {
  .RO-services {
    gap: 80px;
  }

  .RO-services .cards {
    gap: 20px;
    padding: 15px 40px;
  }

  .RO-services .cards .card {
    width: 280px;

    gap: 12px;
    padding: 20px 15px;
  }

  .RO-services p {
    font-size: 18px;
  }

  .RO-services .cards .card img {
    height: 200px;
  }

  .RO-services .cards .card ul li {
    font-size: 15px;

    margin-bottom: 8px;
  }

  .RO-services .cards .card .price {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .RO-services .cards {
    gap: 100px;
  }
}
@media (max-width: 600px) {
  .RO-services .cards {
    gap: 25px;
  }
  .RO-services .cards .card {
    width: 320px;
    /* height: 600px; */
  }
  .RO-services .cards .card p {
    font-size: 16px;
  }
  .RO-services .cards .card li {
    font-size: 14px;
  }
}

/************** plumbing services *************/
.plumbing-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.plumbing-service .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
  padding: 20px;
}

.plumbing-service .cards .card {
  width: 450px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 10px;
}
.plumbing-service .cards .card .image {
  width: 100%;
  height: 400px;
}
.plumbing-service .cards .card .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.plumbing-service .cards .card .content {
  width: 100%;
  height: 220px;
  padding: 40px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fdfdfd 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;
  gap: 30px;
}
.plumbing-service .cards .card .content h3 {
  font-size: 25px;
  text-align: center;
}
.plumbing-service .cards .card .content .data {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
}

@media (max-width: 1700px) {
  .plumbing-service {
    gap: 100px;
  }

  .plumbing-service .cards {
    gap: 50px;
    padding: 15px;
  }

  .plumbing-service .cards .card {
    width: 300px;
    padding: 20px 10px;
    border-radius: 10px;
  }
  .plumbing-service .cards .card .image {
    width: 100%;
    height: 250px;
    overflow-y: hidden;
  }

  .plumbing-service .cards .card .content {
    width: 100%;
    height: 140px;
    padding: 20px 8px;
    gap: 22px;
  }
  .plumbing-service .cards .card .content h3 {
    font-size: 18px;
    text-align: center;
  }
  .plumbing-service .cards .card .content .data {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
  }
}

@media (max-width: 1400px) {
  .plumbing-service {
    gap: 80px;
  }

  .plumbing-service .cards {
    gap: 40px;
    padding: 12px;
  }

  .plumbing-service .cards .card {
    width: 280px;
    padding: 18px 8px;
  }
  .plumbing-service .cards .card .image {
    height: 220px;
  }

  .plumbing-service .cards .card .content {
    height: 120px;
    padding: 15px 8px;
    gap: 20px;
  }
  .plumbing-service .cards .card .content h3 {
    font-size: 16px;
  }
  .plumbing-service .cards .card .content .data {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .plumbing-service {
    gap: 30px;
  }

  .plumbing-service .cards {
    gap: 15px;
    padding: 12px;
  }

  .plumbing-service .cards .card {
    width: 280px;
    padding: 15px 8px;
  }
  .plumbing-service .cards .card .image {
    height: 200px;
  }

  .plumbing-service .cards .card .content {
    height: 110px;
    gap: 20px;
  }
  .plumbing-service .cards .card .content h3 {
    font-size: 15px;
  }
  .plumbing-service .cards .card .content .data {
    font-size: 13.5px;
  }
}

/***************** Main Services ***************/

.service1 {
  margin: 100px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.service1 h1 {
  font-size: 40px;
  color: #000000;
}

.service1 .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.service1 .cards .card {
  width: 500px;
  height: 650px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.service1 .cards .card .image {
  width: 500px;
  height: 456px;
  overflow-y: hidden;
}
.service1 .cards .card .image img {
  width: 100%;
  height: 100%;
}
.service1 .cards .card .content {
  width: 500px;
  height: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fdfdfd 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px 20px 0 0;
  margin-top: -30px;
  gap: 35px;
  padding: 10px;
}
.service1 .cards .card .content h3 {
  font-size: 30px;
  text-align: center;
}
.service1 .cards .card .content .data {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

@media (max-width: 1700px) {
  .service1 {
    margin: 50px 50px;
    gap: 80px;
  }

  .service1 h1 {
    font-size: 30px;
  }

  .service1 .cards {
    gap: 40px;
  }

  .service1 .cards .card {
    width: 350px;
    height: 400px;
  }
  .service1 .cards .card .image {
    width: 350px;
    height: 370px;
  }
  .service1 .cards .card.image img {
    width: 100%;
    height: 100%;
  }
  .service1 .cards .card .content {
    width: 350px;
    height: 150px;

    margin-top: -20px;
    gap: 25px;
    padding: 10px;
  }
  .service1 .cards .card .content h3 {
    font-size: 15px;
    text-align: center;
  }
  .service1 .cards .card .content .data {
    width: 100%;
    font-size: 15px;
  }
}

.deep-service {
  margin: 30px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 50px;
}
.deep-service .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.deep-service .card {
  padding: 35px 20px;
  width: 369px;
  height: 980px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
}

.deep-service .card h3 {
  font-size: 20px;
  overflow-y: hidden;
}

.deep-service .card img {
  width: 326px;
  height: 205px;
  border-radius: 10px;
  overflow-y: hidden;
}

.deep-service .card .table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  overflow-y: hidden;
}

.deep-service .card .table h4 {
  font-size: 20px;
}

.deep-service .card .table ul {
  color: #44474e;
  font-size: 20px;
  list-style: disc;
  list-style-position: inside;
  overflow-y: hidden;
}

.deep-service .card .table table {
  padding: 10px;

  font-size: 20px;
}

.table table thead th {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.table table tr td {
  padding: 25px 0;
  text-align: center;
  font-size: 18px;
}

.table table tr .entry1 {
  font-size: 12px;
}
.table table .line {
  text-decoration: line-through;
}

@media (max-width: 1700px) {
  .deep-service {
    margin: 50px auto;
    gap: 40px;
  }

  .deep-service h1 {
    font-size: 30px;
    text-align: center;
  }

  .deep-service .cards {
    gap: 20px;
  }

  .deep-service .card {
    padding: 15px 0px;
    width: 250px;
    height: 520px;
    gap: 15px;
  }

  .deep-service .card h3 {
    font-size: 15px;
  }

  .deep-service .card img {
    width: 90%;
    height: 150px;
  }

  .deep-service .card .table {
    gap: 5px;
  }

  .deep-service .card .table h4 {
    font-size: 10px;
  }

  .deep-service .card .table ul {
    font-size: 10px;
  }

  .deep-service .card .table table {
    padding: 10px 0px 0px 10px;
    font-size: 10px;
  }

  .table table thead th {
    padding: 8px;
    font-size: 12px;
  }

  .table table tr td {
    padding: 10px 0;
    font-size: 10px;
  }

  .table table tr .entry1 {
    font-size: 10px;
  }
  .table table .line {
    text-decoration: line-through;
  }
}

@media (max-width: 1460px) {
  .deep-service {
    margin: 30px auto;
    gap: 50px;
  }
  .deep-service .cards {
    gap: 20px;
    flex-wrap: wrap;
  }
  .service h1 {
    font-size: 22px;
  }

  .deep-service .card {
    width: 250px;
    height: 550px;
    gap: 10px;
  }
  .deep-service .card h3 {
    font-size: 12px;
  }
  .deep-service .card img {
    width: 180px;
    height: 150px;
  }

  .deep-service .card .table {
    gap: 5px;
  }

  .deep-service .card .table h4 {
    font-size: 12px;
  }

  .deep-service .card .table ul {
    font-size: 10px;
  }

  .deep-service .card .table table {
    padding: 8px 0px 0px 8px;
    font-size: 8px;
  }

  .table table thead th {
    padding: 10px;
    font-size: 8px;
  }

  .table table tr td {
    padding: 8px 0;
    font-size: 13px;
  }

  .table table tr .entry1 {
    font-size: 10px;
  }
}

@media (max-width: 1100px) {
  .deep-service {
    margin: 0px 120px;
  }
  .deep-service .cards {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .deep-service {
    margin: 0px 25px;
  }
  .deep-service .cards {
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .deep-service {
    margin: 0px 25px;
  }
  .deep-service .cards {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

/******************* Service Start *********************/
.services {
  margin: 150px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.services .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.services .cards .card {
  width: 366px;
  height: 300px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 10px #00000029;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.services .cards .card h3 {
  color: #212a38;
  font-size: 20px;
  text-align: center;
}

.services .cards .card p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.services .cards .card img {
  width: 100%;
  height: 192px;
}

@media (max-width: 1700px) {
  .services {
    margin: 80px 100px;
    gap: 90px;
  }

  .services .cards {
    gap: 80px;
  }

  .services .cards .card {
    width: 250px;
    height: 250px;

    gap: 10px;
    padding: 0 10px;
  }

  .services .cards .card p {
    font-size: 15px;
  }

  .services .cards .card img {
    width: 100%;
    /* height: 150px; */
  }
}

@media (max-width: 1460px) {
  .services {
    margin: 0px 90px;
  }

  .services .cards {
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
}

@media (max-width: 1100px) {
  .services {
    margin: 0px 80px;
  }
  .services .cards {
    gap: 40px;

    padding: 20px 10px;
  }
}

@media (max-width: 800px) {
  .services {
    margin: 0px 25px;
  }
  .services .cards {
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}

@media (max-width: 600px) {
  .services {
    margin: 10px 20px;

    gap: 30px;
  }
  .services .cards {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

/**************** services end *****************/

.commercial {
  margin: 150px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.commercial .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
}

.commercial .items .item {
  width: 420px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  transition: 0.5s all;
}

.commercial .items .item:hover {
 transform: scale(1.05);
}

.commercial .items .item .image {
  width: 100%;
  height: 270px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 18px #69696929;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  overflow-y: hidden;
  padding: 25px 15px;
}

.commercial .items .item .image img {
  width: 100%;
  height: 100%;
}

.commercial .items .item p {
  font-size: 20px;
  color: #212a38;
  overflow-y: hidden;
}

@media (max-width: 1700px) {
  .commercial {
    margin: 80px 100px;

    gap: 50px;
  }

  .commercial .items {
    gap: 80px;
    overflow-y: hidden;
  }

  .commercial .items .item {
    width: 325px;
    height: 270px;
    gap: 20px;
  }

  .commercial .items .item .image {
    width: 100%;
    height: 270px;
    padding: 15px;
  }

  .commercial .items .item p {
    font-size: 15px;
  }
}

@media (max-width: 1460px) {
  .commercial .items {
    overflow-y: hidden;
  }
}

@media (max-width: 1200px) {
  .commercial {
    margin: 0px 50px;
  }
}

@media (max-width: 800px) {
  .commercial {
    margin: 50px 30px;
  }
  .commercial .items {
    gap: 30px;
  }
}

/***************** commercial end ****************/

.call-to-action {
  width: 80%;
  height: 100px;
  background: #010101 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.call-to-action h3 {
  font-size: 25px;
  color: #fefefe;
}

.call-to-action button {
  padding: 10px 60px;
 background: #EFD236 0% 0% no-repeat padding-box;
border: 1px solid #FFE65D;
border-radius: 36px;
  font-size: 25px;
  font-weight: bold;
  color: #191616;
  /* border-radius: 10px; */
}

@media (max-width: 1700px) {
  .call-to-action {
    margin: 80px auto;
  }

  .call-to-action h3 {
    font-size: 22px;
  }

  .call-to-action button {
    padding: 10px 50px;
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  .call-to-action {
    margin: 70px auto;
    height: 70px;
    width: 90%;
  }

  .call-to-action h3 {
    font-size: 20px;
  }

  .call-to-action button {
    padding: 10px 40px;
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .call-to-action {
    width: 70%;
    height: auto;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .call-to-action h3 {
    text-align: center;
    font-size: 19px;
    color: #fefefe;
  }

  .call-to-action button {
    padding: 9px 40px;
    font-size: 18px;
    font-weight: bold;
    color: #082e5a;
  }
}

@media (max-width: 600px) {
  .call-to-action {
    width: 90%;

    padding: 10px 20px;

    gap: 15px;
  }

  .call-to-action h3 {
    font-size: 18px;
  }

  .call-to-action button {
    padding: 9px 35px;

    font-size: 17px;
  }
}

/***************** call-to-action end *************/

.scope {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.scope .scopeElements {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px;
}

.scope .scopeElements .element {
  width: 400px;
  max-height: 600px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #524e4e29;
  border: 1px solid #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
  flex-direction: column;
  transition: 0.5s all;
}

.scope .scopeElements .element:hover {
transform: scale(1.05);
}

.scope .scopeElements .element img {
  width: 100%;
  height: 214px;
  border-radius: 5px;
}

.scope .scopeElements .element h4 {
  font-size: 25px;
  color: #090101fc;
  text-align: center;
}

.scope .scopeElements .element ul {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 20px;
  color: #656565fc;
  padding: 0 10px;
}

.scope .scopeElements .element ul li {
  font-size: 16px;
  margin-bottom: 15px;
  color: #656565fc;
}

@media (max-width: 1800px) {
  .scope {
    gap: 80px;
  }

  .scope .scopeElements {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 15px;
  }

  .scope .scopeElements .element {
    width: 300px;
    gap: 15px;
    padding: 15px 10px;
    flex-direction: column;
  }

  .scope .scopeElements .element img {
    width: 280px;
    height: 190px;
  }

  .scope .scopeElements .element h4 {
    font-size: 22px;
  }

  .scope .scopeElements .element ul li {
    font-size: 14px;
    margin-bottom: 12px;
  }
}

@media (max-width: 1400px) {
  .scope {
    gap: 60px;
  }

  .scope .scopeElements {
    gap: 25px;
    padding: 12px;
  }

  .scope .scopeElements .element {
    width: 280px;
    gap: 15px;
    padding: 12px 8px;
  }

  .scope .scopeElements .element img {
    width: 260px;
    height: 170px;
  }

  .scope .scopeElements .element h4 {
    font-size: 21px;
  }

  .scope .scopeElements .element ul li {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

/************* scope ends *****************/

.keyHighlights {
  margin: 100px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 160px;
}

.keyHighlights .keys {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.keyHighlights .key {
  width: 149px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.keyHighlights .key img {
  width: 88px;
}
.keyHighlights .key p {
  font-size: 20px;
  color: #5a5a5afc;
  text-align: center;
  overflow-y: hidden;
}

@media (max-width: 1700px) {
  .keyHighlights {
    margin: 80px 90px;
    gap: 70px;
  }

  .keyHighlights .key {
    width: 100px;
    height: 150px;
    gap: 30px;
  }

  .keyHighlights .key img {
    width: 80px;
  }
  .keyHighlights .key p {
    font-size: 14px;

    overflow-y: hidden;
  }
}

@media (max-width: 1000px) {
  .keyHighlights {
    margin: 100px 50px;
  }
  .keyHighlights .keys {
    gap: 100px;
  }
}

@media (max-width: 800px) {
  .keyHighlights {
    margin: 100px 30px;
  }
  .keyHighlights .keys {
    gap: 80px;
  }
}


@media (max-width: 500px) {
 
  .keyHighlights .keys {
    gap: 50px;
  }
}

/************** keyHighlights end  ********************/

.footer {
  margin-top: -1px;
  width: 100%;
  background: transparent linear-gradient(245deg, #283445 0%, #231f34 100%) 0%
    0% no-repeat padding-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px;
}

.footer .left-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 80px;
}

.footer .left-section .item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.footer .left-section .item h4 {
  color: #dcdeed;
  font-size: 20px;
}

.footer .left-section .item .links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
}

.footer .left-section .item .link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.footer .left-section .item .link a {
  color: #d6d9e5;
  font-size: 18px;
  text-decoration: none;
}

.footer .left-section .address {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.footer .left-section .address p {
  color: #dcdeed;
  font-size: 16px;
  line-height: 25px;
}

.footer .right-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 150px;
}

.footer .right-section img {
  width: 400px;
}

.footer .right-section .contact {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
}

.footer .right-section h4 {
  color: #dcdeed;
  font-size: 25px;
}

.footer .right-section .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.footer .right-section .icons img {
  width: 36px;
  height: 36px;
}

.footer .right-section .contact .icons p {
  color: #dcdeed;
  font-size: 20px;
}

.footer .right-section .contact .social-media {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.footer .right-section .contact .social-media img {
  width: 32px;
  height: 32px;
}

@media (max-width: 1700px) {
  .footer {
    padding: 80px;
  }

  .footer .left-section {
    gap: 50px;
  }

  .footer .left-section .item {
    gap: 30px;
  }

  .footer .left-section .item h4 {
    font-size: 15px;
  }

  .footer .left-section .item .links {
    gap: 50px;
  }

  .footer .left-section .item .link {
    gap: 12px;
  }

  .footer .left-section .item .link a {
    font-size: 12px;
  }

  .footer .left-section .address {
    gap: 20px;
  }

  .footer .left-section .address p {
    font-size: 12px;
    line-height: 20px;
  }

  .footer .right-section {
    gap: 100px;
  }

  .footer .right-section img {
    width: 350px;
  }

  .footer .right-section .contact {
    gap: 20px;
  }

  .footer .right-section h4 {
    font-size: 15px;
  }

  .footer .right-section .icons img {
    width: 25px;
    height: 25px;
  }

  .footer .right-section .contact .icons p {
    font-size: 12px;
  }

  .footer .right-section .contact .social-media {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
  }

  .footer .right-section .contact .social-media img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1100px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column-reverse;
    gap: 50px;
  }

  .footer .left-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer .left-section .item {
    justify-content: center;
    align-items: center;

    gap: 30px;
  }
  .footer .left-section .item .links {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
  }

  .footer .left-section .item .link {
    align-items: center;
  }

  .footer .right-section {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .footer .right-section .contact {
    justify-content: center;
    align-items: center;

    gap: 20px;
  }

  .footer .left-section .address {
    justify-content: center;
    align-items: center;

    gap: 30px;
  }

  .footer .left-section .address p {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer .right-section img {
    width: 280px;
  }
}

/**************** footer end *************/

.end {
  width: 100%;
  background: #23293b 0% 0% no-repeat padding-box;
  padding: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end p {
  color: #d6d8ea;
  font-size: 18px;
}

@media (max-width: 1700px) {
  .end {
    padding: 40px;
  }

  .end p {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .end {
    padding: 30px 20px;

    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .end p {
    text-align: center;
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .end {
    flex-direction: column;
    gap: 10px;
  }
}
